# Como Desenvolver um Projeto de Data Science

## CRISP-DM
<img src='https://miro.medium.com/v2/resize:fit:640/0*tA5OjppLK627FfFo'>

### 1. Entendimento do Negócio

Netflix é uma das plataformas de streaming de mídia e vídeo mais populares do mundo. Eles têm mais de 8.000 filmes ou programas de TV disponíveis em sua plataforma. Em meados de 2021, eles superaram 200 milhões de assinantes em todo o mundo.

- Qual o problema que queremos resolver e por que ele é importante?
R: Queremos entender como é a distribuição dos conteúdos em relação aos paises para sugerir conteúdos e identificar oportunidades de negócios


- Quais perguntas precisas responder?
    - a) Entender qual conteúdo está disponível em diferentes países
    - b) Identificando conteúdo semelhante combinando recursos baseados em texto
    - c) Análise de rede de atores/diretores e encontre insights interessantes
    - d) A Netflix tem mais foco em programas de TV do que em filmes nos últimos anos

### 2. Entendimento dos dados

Os dados que serão utilizados neste projeto estão disponível neste [link](https://www.kaggle.com/datasets/shivamb/netflix-shows/download?datasetVersionNumber=5)

O arquivo ``netflix_titles.csv`` contém os seguintes dados
- show_id: identificador único para filme ou seriados
- type: Identifica se é um filme ou seriado
- title: título do filme ou seriado
- director: nome do diretor do filme ou seriado
- cast: (elenco) nome dos atores envolvidos no filme ou seriado
- country: nome do pais onde o filme ou seriado foi produzido ou apresentado
- date_added: data em que o filme ou seriado foi adicionado na Netflix
- release_year: ano de lançamento do filme ou seriado
- rating: rank do filme
- duration: duração do filme em minutos ou números de temporadas
- listed_in: categorias nas quais o filme ou seriado foi listado
- description: a decrição do summary

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#leitura dos dados
df = pd.read_csv("../data/netflix_titles.csv")

In [3]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [4]:
# total de elementos no dataset
df.shape

(6234, 12)